In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [5]:
df = pd.read_csv('outputs/test_all_option_output_withGroundTruth.csv')
df

,sample_id,Ranges,number,prompt,response,ground_truth,CoT_demo_prompt,option_1_output,option_2_output,option_1_ft_output,option_2_ft_output,option_3_ft_output,Unnamed: 12,option_1_infer_label,option_1_ft_label
0,5422,"{'Range_1': [39, 48], 'Range_2': [49, 58], 'Ra...",61.0,Given the following range definitions: Range 1...,The number 61 falls within Range 3. Here's how...,Range 3,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Follow the steps to answer the question. First...,NaN,range 3,range 3
1,3190,"{'Range_1': [490, 499], 'Range_2': [500, 509],...",500.0,Given the following range definitions: Range 1...,The number 500 falls within Range 2. Here's ho...,Range 2,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Follow the steps to answer the question. First...,NaN,range 2,range 2
2,4566,"{'Range_1': [104, 113], 'Range_2': [114, 123],...",110.0,Given the following range definitions: Range 1...,The number 110 falls within Range 1. Here's ho...,Range 1,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Follow the steps to answer the question. First...,NaN,range 2,range 1
3,4802,"{'Range_1': [356, 365], 'Range_2': [366, 375],...",358.0,Given the following range definitions: Range 1...,The number 358 falls within Range 1. Here's ho...,Range 1,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Follow the steps to answer the question. First...,NaN,range 2,range 1
4,5626,"{'Range_1': [195, 204], 'Range_2': [205, 214],...",211.0,Given the following range definitions: Range 1...,The number 211 falls within Range 2. Here's ho...,Range 2,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Follow the steps to answer the question. First...,NaN,range 2,range 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,3772,"{'Range_1': [88, 97], 'Range_2': [98, 107], 'R...",110.0,Given the following range definitions: Range 1...,The number 110 falls within Range 3. Here's ho...,Range 3,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Follow the steps to answer the question. First...,NaN,range 3,range 3
1196,5191,"{'Range_1': [471, 480], 'Range_2': [481, 490],...",472.0,Given the following range definitions: Range 1...,The number 472 falls within Range 1. Here's ho...,Range 1,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Follow the steps to answer the question. First...,NaN,range 1,range 1
1197,5226,"{'Range_1': [481, 490], 'Range_2': [491, 500],...",487.0,Given the following range definitions: Range 1...,The number 487 falls within Range 1. Here's ho...,Range 1,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Follow the steps to answer the question. First...,NaN,range 2,range 1
1198,5390,"{'Range_1': [269, 278], 'Range_2': [279, 288],...",289.0,Given the following range definitions: Range 1...,The number 289 falls within Range 3. Here's ho...,Range 3,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Follow the steps to answer the question. First...,NaN,range 3,range 3
1199,860,"{'Range_1': [228, 228.9], 'Range_2': [229, 229...",230.0,Given the following range definitions: Range 1...,The number 230.0 falls within Range 3. Here's ...,Range 3,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Follow the steps to answer the question. First...,NaN,range 3,range 3

In [7]:
c = 0
#label_list = []
indicator_list = []
for i in tqdm(range(len(df))):
    #print(i)
    ground_truth = df['ground_truth'][i].lower()
    output = df['option_1_ft_output'][i].lower()
    last_r_index = output.rfind('range')
    label = output[last_r_index:last_r_index+7]
    if ground_truth == label:
        c += 1
        indicator_list.append(1)
    else:
        indicator_list.append(0)
    #label_list.append(label)
    #print(label, ground_truth)

c/len(df)

df['option_1_ft_ind'] = indicator_list

100%|██████████| 1200/1200 [00:00<00:00, 132288.09it/s]

In [8]:
df.head()

,sample_id,Ranges,number,prompt,response,ground_truth,CoT_demo_prompt,option_1_output,option_2_output,option_1_ft_output,option_2_ft_output,option_3_ft_output,Unnamed: 12,option_1_infer_label,option_1_ft_label,option_1_infer_ind,option_1_ft_ind
0,5422,"{'Range_1': [39, 48], 'Range_2': [49, 58], 'Ra...",61.0,Given the following range definitions: Range 1...,The number 61 falls within Range 3. Here's how...,Range 3,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Follow the steps to answer the question. First...,NaN,range 3,range 3,1,1
1,3190,"{'Range_1': [490, 499], 'Range_2': [500, 509],...",500.0,Given the following range definitions: Range 1...,The number 500 falls within Range 2. Here's ho...,Range 2,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Follow the steps to answer the question. First...,NaN,range 2,range 2,1,1
2,4566,"{'Range_1': [104, 113], 'Range_2': [114, 123],...",110.0,Given the following range definitions: Range 1...,The number 110 falls within Range 1. Here's ho...,Range 1,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Follow the steps to answer the question. First...,NaN,range 2,range 1,0,1
3,4802,"{'Range_1': [356, 365], 'Range_2': [366, 375],...",358.0,Given the following range definitions: Range 1...,The number 358 falls within Range 1. Here's ho...,Range 1,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Follow the steps to answer the question. First...,NaN,range 2,range 1,0,1
4,5626,"{'Range_1': [195, 204], 'Range_2': [205, 214],...",211.0,Given the following range definitions: Range 1...,The number 211 falls within Range 2. Here's ho...,Range 2,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Q: Given the following range definitions: Rang...,Follow the steps to answer the question. First...,NaN,range 2,range 2,1,1

In [9]:
df.to_csv("outputs/test_all_option_output_withGroundTruth.csv", index = False)

In [57]:
s[362:362+7]

'Range 2'