In [22]:
import pandas as pd
import numpy as np
import random

In [4]:
original_df = pd.read_excel('GPT4_samples.xlsx',engine='openpyxl')

In [5]:
original_df

,index,prompt,response
0,0,Given the following range definitions: Range 1...,The number 1.5 falls within Range 2. Here's ho...
1,1,Given the following range definitions: Range A...,The number 2.3 falls within Range C. Here's ho...
2,2,Given the following range definitions: Range X...,The number -0.5 falls within Range X. Here's h...
3,3,Given the following range definitions: Range A...,The number -1.5 falls within Range Alpha. Here...
4,4,Given the following range definitions: Range R...,The number 3.3 falls within Range Yellow. Here...

In [6]:
original_df['prompt'][0]

'Given the following range definitions: Range 1: 0.0 - 1.0 Range 2: 1.1 - 2.0 Range 3: 2.1 - 3.0 Please identify the range for the number 1.5 and explain your reasoning.'

In [7]:
original_df['response'][0]

"The number 1.5 falls within Range 2. Here's how I determined this: First, I enumerated all the values in each range with 1 decimal point precision: Range 1: 0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0 Range 2: 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0 Range 3: 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3.0 Then, I checked if the given number (1.5) is in each of these sets. It is not in Range 1 or Range 3, but it is in Range 2. Therefore, the number 1.5 falls within Range 2."

In [15]:
prompt = []
response = []
for i in map(lambda x: x / 10, range(1,31)):
    #print(i)
    prompt.append("Given the following range definitions: Range 1: 0.0 - 1.0 Range 2: 1.1 - 2.0 Range 3: 2.1 - 3.0 Please identify the range for the number "+str(i)+" and explain your reasoning.")
    if i <= 1.0:
        response.append("The number "+str(i)+" falls within Range 1. Here's how I determined this: First, I enumerated all the values in each range with 1 decimal point precision: Range 1: 0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0 Range 2: 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0 Range 3: 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3.0 Then, I checked if the given number ("+str(i)+") is in each of these sets. It is not in Range 2 or Range 3, but it is in Range 1. Therefore, the number "+str(i)+" falls within Range 1.")
    elif i <= 2.0:
        response.append("The number "+str(i)+" falls within Range 2. Here's how I determined this: First, I enumerated all the values in each range with 1 decimal point precision: Range 1: 0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0 Range 2: 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0 Range 3: 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3.0 Then, I checked if the given number ("+str(i)+") is in each of these sets. It is not in Range 1 or Range 3, but it is in Range 2. Therefore, the number "+str(i)+" falls within Range 2.")
    else:
        response.append("The number "+str(i)+" falls within Range 3. Here's how I determined this: First, I enumerated all the values in each range with 1 decimal point precision: Range 1: 0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0 Range 2: 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0 Range 3: 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3.0 Then, I checked if the given number ("+str(i)+") is in each of these sets. It is not in Range 1 or Range 2, but it is in Range 3. Therefore, the number "+str(i)+" falls within Range 3.")

In [19]:
for i in map(lambda x: x / 10, range(0,40)):
    #print(i)
    
    prompt.append("Given the following range definitions: Range A: 0.0 - 0.9 Range B: 1.0 - 1.9 Range C: 2.0 - 2.9 Range D: 3.0 - 3.9 Please identify the range for the number "+str(i)+" and explain your reasoning.")
    if i <= 0.9:
        response.append("The number "+str(i)+" falls within Range A. Here's how I determined this: First, I enumerated all the values in each range with 1 decimal point precision: Range A: 0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9 Range B: 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9 Range C: 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9 Range D: 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9 Then, I checked if the given number ("+str(i)+") is in each of these sets. It is not in Range B, Range C, or Range D, but it is in Range A. Therefore, the number "+str(i)+" falls within Range A.")
    elif i <= 1.9:
        response.append("The number "+str(i)+" falls within Range B. Here's how I determined this: First, I enumerated all the values in each range with 1 decimal point precision: Range A: 0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9 Range B: 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9 Range C: 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9 Range D: 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9 Then, I checked if the given number ("+str(i)+") is in each of these sets. It is not in Range A, Range C, or Range D, but it is in Range B. Therefore, the number "+str(i)+" falls within Range B.")
    elif i <= 2.9:
        response.append("The number "+str(i)+" falls within Range C. Here's how I determined this: First, I enumerated all the values in each range with 1 decimal point precision: Range A: 0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9 Range B: 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9 Range C: 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9 Range D: 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9 Then, I checked if the given number ("+str(i)+") is in each of these sets. It is not in Range A, Range B, or Range D, but it is in Range C. Therefore, the number "+str(i)+" falls within Range C.")
    else:
        response.append("The number "+str(i)+" falls within Range D. Here's how I determined this: First, I enumerated all the values in each range with 1 decimal point precision: Range A: 0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9 Range B: 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9 Range C: 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9 Range D: 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9 Then, I checked if the given number ("+str(i)+") is in each of these sets. It is not in Range A, Range B, or Range C, but it is in Range D. Therefore, the number "+str(i)+" falls within Range D.")

In [22]:
for i in map(lambda x: x / 10, range(0,40)):
    #print(i)
    
    prompt.append("Given the following range definitions: Range Red: 0.0 - 0.9 Range Green: 1.0 - 1.9 Range Blue: 2.0 - 2.9 Range Yellow: 3.0 - 3.9 Please identify the range for the number 3.3 and explain your reasoning.")
    if i <= 0.9:
        response.append("The number "+str(i)+" falls within Range Red. Here's how I determined this: First, I enumerated all the values in each range with 1 decimal point precision: Range Red: 0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9 Range Green: 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9 Range Blue: 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9 Range Yellow: 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9 Then, I checked if the given number ("+str(i)+") is in each of these sets. It is not in Range Green, Range Blue, or Range Yellow, but it is in Range Red. Therefore, the number "+str(i)+" falls within Range Red.")
    elif i <= 1.9:
        response.append("The number "+str(i)+" falls within Range Green. Here's how I determined this: First, I enumerated all the values in each range with 1 decimal point precision: Range Red: 0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9 Range Green: 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9 Range Blue: 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9 Range Yellow: 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9 Then, I checked if the given number ("+str(i)+") is in each of these sets. It is not in Range Red, Range Blue, or Range Yellow, but it is in Range Green. Therefore, the number "+str(i)+" falls within Range Green.")
    elif i <= 2.9:
        response.append("The number "+str(i)+" falls within Range Blue. Here's how I determined this: First, I enumerated all the values in each range with 1 decimal point precision: Range Red: 0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9 Range Green: 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9 Range Blue: 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9 Range Yellow: 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9 Then, I checked if the given number ("+str(i)+") is in each of these sets. It is not in Range Red, Range Green, or Range Yellow, but it is in Range Blue. Therefore, the number "+str(i)+" falls within Range Blue.")
    else:
        response.append("The number "+str(i)+" falls within Range Yellow. Here's how I determined this: First, I enumerated all the values in each range with 1 decimal point precision: Range Red: 0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9 Range Green: 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9 Range Blue: 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9 Range Yellow: 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9 Then, I checked if the given number ("+str(i)+") is in each of these sets. It is not in Range Red, Range Green, or Range Blue, but it is in Range Yellow. Therefore, the number "+str(i)+" falls within Range Yellow.")

In [24]:
d = {"prompt":prompt, "response":response}
augmented_df = pd.DataFrame(data=d)

In [26]:
augmented_df.to_csv("augmented_data.csv")

In [27]:
augmented_df = pd.read_csv("augmented_data.csv")

In [28]:
augmented_df

,index,prompt,response
0,0,Given the following range definitions: Range 1...,The number 0.1 falls within Range 1. Here's ho...
1,1,Given the following range definitions: Range 1...,The number 0.2 falls within Range 1. Here's ho...
2,2,Given the following range definitions: Range 1...,The number 0.3 falls within Range 1. Here's ho...
3,3,Given the following range definitions: Range 1...,The number 0.4 falls within Range 1. Here's ho...
4,4,Given the following range definitions: Range 1...,The number 0.5 falls within Range 1. Here's ho...
...,...,...,...
105,105,Given the following range definitions: Range R...,The number 3.5 falls within Range Yellow. Here...
106,106,Given the following range definitions: Range R...,The number 3.6 falls within Range Yellow. Here...
107,107,Given the following range definitions: Range R...,The number 3.7 falls within Range Yellow. Here...
108,108,Given the following range definitions: Range R...,The number 3.8 falls within Range Yellow. Here...
109,109,Given the following range definitions: Range R...,The number 3.9 falls within Range Yellow. Here...

In [29]:
augmented_df = augmented_df.sample(frac = 1)

In [32]:
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(augmented_df, test_size=0.2)

In [34]:
train_df.to_json('train.jsonl', orient='records', lines=True)
test_df.to_json('test.jsonl', orient='records', lines=True)

### More data augmentation

In [2]:
augmented_df = pd.read_csv("augmented_data.csv")

In [3]:
augmented_df

,index,prompt,response
0,0,Given the following range definitions: Range 1...,The number 0.1 falls within Range 1. Here's ho...
1,1,Given the following range definitions: Range 1...,The number 0.2 falls within Range 1. Here's ho...
2,2,Given the following range definitions: Range 1...,The number 0.3 falls within Range 1. Here's ho...
3,3,Given the following range definitions: Range 1...,The number 0.4 falls within Range 1. Here's ho...
4,4,Given the following range definitions: Range 1...,The number 0.5 falls within Range 1. Here's ho...
...,...,...,...
105,105,Given the following range definitions: Range R...,The number 3.5 falls within Range Yellow. Here...
106,106,Given the following range definitions: Range R...,The number 3.6 falls within Range Yellow. Here...
107,107,Given the following range definitions: Range R...,The number 3.7 falls within Range Yellow. Here...
108,108,Given the following range definitions: Range R...,The number 3.8 falls within Range Yellow. Here...
109,109,Given the following range definitions: Range R...,The number 3.9 falls within Range Yellow. Here...

In [7]:
from random import randint

df = pd.DataFrame(columns=['Ranges', 'number', 'prompt', 'response','ground_truth'])

starts = random.sample(list(range(500)), 100)

for gap in [1, 10]:
    for start in starts:
        
        Range_1_name = "Range 1"
        Range_2_name = "Range 2"
        Range_3_name = "Range 3"
        
        Range_1_enum = []
        
        if gap == 1:
            deno = 10
            for g in map(lambda x: x / deno, range(0, 10)):
                Range_1_enum.append(start+g)
                Range_1 = [start, Range_1_enum[-1]]
                #print(Range_1)

                Range_2_enum = [x+gap for x in Range_1_enum]
                Range_2 = [start+gap, Range_2_enum[-1]]
                #print(Range_2)

                Range_3_enum = [x+gap for x in Range_2_enum]
                Range_3 = [start+2*gap, Range_3_enum[-1]]
                #print(Range_3)
        else:
            deno = 1
            start = int(start)
            for g in map(lambda x: x / deno, range(0, 10)):
                Range_1_enum.append(int(start+g))
                Range_1 = [start, Range_1_enum[-1]]
                #print(Range_1)

                Range_2_enum = [int(x+gap) for x in Range_1_enum]
                Range_2 = [start+gap, Range_2_enum[-1]]
                #print(Range_2)

                Range_3_enum = [int(x+gap) for x in Range_2_enum]
                Range_3 = [start+2*gap, Range_3_enum[-1]]
                #print(Range_3)
        
        for number in Range_1_enum:
            prompt_template = f"Given the following range definitions: {Range_1_name}: {Range_1}, {Range_2_name}: {Range_2}, {Range_3_name}: {Range_3}. \
Please identify the range for the number {number} and explain your reasoning."

            response_template = f"The number {number} falls within {Range_1_name}. Here's how I determined this: First, I enumerated all the \
values in each range with 1 decimal point precision: \
{Range_1_name}: {Range_1_enum}, \
{Range_2_name}: {Range_2_enum}, \
{Range_3_name}: {Range_3_enum}. \
Then, I checked if the given number ({number}) is in each of these sets. It is not in {Range_2_name} or {Range_3_name}, \
but it is in {Range_1_name}. Therefore, the number {number} falls within {Range_1_name}."
            df.loc[len(df.index)] = [{"Range_1":Range_1, "Range_2":Range_2,"Range_3":Range_3}, number, prompt_template, 
                                     response_template, "Range 1"] 
            
        for number in Range_2_enum:
            prompt_template = f"Given the following range definitions: {Range_1_name}: {Range_1}, {Range_2_name}: {Range_2}, {Range_3_name}: {Range_3}. \
Please identify the range for the number {number} and explain your reasoning."

            response_template = f"The number {number} falls within {Range_2_name}. Here's how I determined this: First, I enumerated all the \
values in each range with 1 decimal point precision: \
{Range_1_name}: {Range_1_enum}, \
{Range_2_name}: {Range_2_enum}, \
{Range_3_name}: {Range_3_enum}. \
Then, I checked if the given number ({number}) is in each of these sets. It is not in {Range_1_name} or {Range_3_name}, \
but it is in {Range_2_name}. Therefore, the number {number} falls within {Range_2_name}."
            df.loc[len(df.index)] = [{"Range_1":Range_1, "Range_2":Range_2,"Range_3":Range_3}, number, prompt_template, 
                                     response_template, "Range 2"] 
            
        for number in Range_3_enum:
            prompt_template = f"Given the following range definitions: {Range_1_name}: {Range_1}, {Range_2_name}: {Range_2}, {Range_3_name}: {Range_3}. \
Please identify the range for the number {number} and explain your reasoning."

            response_template = f"The number {number} falls within {Range_3_name}. Here's how I determined this: First, I enumerated all the \
values in each range with 1 decimal point precision: \
{Range_1_name}: {Range_1_enum}, \
{Range_2_name}: {Range_2_enum}, \
{Range_3_name}: {Range_3_enum}. \
Then, I checked if the given number ({number}) is in each of these sets. It is not in {Range_1_name} or {Range_2_name}, \
but it is in {Range_3_name}. Therefore, the number {number} falls within {Range_3_name}."
            df.loc[len(df.index)] = [{"Range_1":Range_1, "Range_2":Range_2,"Range_3":Range_3}, number, prompt_template, 
                                     response_template, "Range 3"]

In [14]:
df

,Ranges,number,prompt,response,ground_truth
0,"{'Range_1': [351, 351.9], 'Range_2': [352, 352...",351.0,Given the following range definitions: Range 1...,The number 351.0 falls within Range 1. Here's ...,Range 1
1,"{'Range_1': [351, 351.9], 'Range_2': [352, 352...",351.1,Given the following range definitions: Range 1...,The number 351.1 falls within Range 1. Here's ...,Range 1
2,"{'Range_1': [351, 351.9], 'Range_2': [352, 352...",351.2,Given the following range definitions: Range 1...,The number 351.2 falls within Range 1. Here's ...,Range 1
3,"{'Range_1': [351, 351.9], 'Range_2': [352, 352...",351.3,Given the following range definitions: Range 1...,The number 351.3 falls within Range 1. Here's ...,Range 1
4,"{'Range_1': [351, 351.9], 'Range_2': [352, 352...",351.4,Given the following range definitions: Range 1...,The number 351.4 falls within Range 1. Here's ...,Range 1
...,...,...,...,...,...
5995,"{'Range_1': [353, 362], 'Range_2': [363, 372],...",378.0,Given the following range definitions: Range 1...,The number 378 falls within Range 3. Here's ho...,Range 3
5996,"{'Range_1': [353, 362], 'Range_2': [363, 372],...",379.0,Given the following range definitions: Range 1...,The number 379 falls within Range 3. Here's ho...,Range 3
5997,"{'Range_1': [353, 362], 'Range_2': [363, 372],...",380.0,Given the following range definitions: Range 1...,The number 380 falls within Range 3. Here's ho...,Range 3
5998,"{'Range_1': [353, 362], 'Range_2': [363, 372],...",381.0,Given the following range definitions: Range 1...,The number 381 falls within Range 3. Here's ho...,Range 3
5999,"{'Range_1': [353, 362], 'Range_2': [363, 372],...",382.0,Given the following range definitions: Range 1...,The number 382 falls within Range 3. Here's ho...,Range 3

In [18]:
df.to_csv("augmented_data_6000.csv", index=False)

In [6]:
# make template of the prompt and response for data augmentation

Range_1_name = "Range 1"
Range_1 = 
Range_1_enum

Range_2_name
Range_2
Range_2_enum

Range_3_name
Range_3
Range_3_enum

number

Range_in
Range_out_1
Range_out_2

prompt_template = f"Given the following range definitions: {Range_1_name}: {Range_1}, {Range_2_name}: {Range_2}, {Range_3_name}: {Range_3}. \
Please identify the range for the number {number} and explain your reasoning."

response_template = f"The number {number} falls within {Range_in}. Here's how I determined this: First, I enumerated all the \
values in each range with 1 decimal point precision: \
{Range_1_name}: {Range_1_enum}, \
{Range_2_name}: {Range_2_enum}, \
{Range_3_name}: {Range_3_enum}. \
Then, I checked if the given number ({number}) is in each of these sets. It is not in {Range_out_1} or {Range_out_2}, \
but it is in {Range_in}. Therefore, the number {number} falls within {Range_in}."

print(prompt_template)
print(response_template)

Given the following range definitions: Range 1: 0.0 - 1.0 Range 2: 1.1 - 2.0 Range 3: 2.1 - 3.0 Please identify the range for the number 1.5 and explain your reasoning.
The number 1.5 falls within Range 2. Here's how I determined this: First, I enumerated all the values in each range with 1 decimal point precision: Range 1: 0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0 Range 2: 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0 Range 3: 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3.0 Then, I checked if the given number (1.5) is in each of these sets. It is not in Range 1 or Range 3, but it is in Range 2. Therefore, the number 1.5 falls within Range 2.

In [ ]:
# notes of ranges and enumerate
# range: <10; <100; >100
# enumerate: <1, <10, >10

### code of enumerator

10 numbers each time +0.1

In [19]:
Range_1_enum = []
a = 41
b = 42
for g in map(lambda x: x / 10, range(int(a*10), int(b*10+1))):
    Range_1_enum.append(g)

In [20]:
print(Range_1_enum)

[41.0, 41.1, 41.2, 41.3, 41.4, 41.5, 41.6, 41.7, 41.8, 41.9]

# split data

In [28]:
df = pd.read_csv("augmented_6000_CoT_demo.csv")

In [29]:
df

,Ranges,number,prompt,response,ground_truth,CoT_demo_prompt
0,"{'Range_1': [351, 351.9], 'Range_2': [352, 352...",351.0,Given the following range definitions: Range 1...,The number 351.0 falls within Range 1. Here's ...,Range 1,Q: Given the following range definitions: Rang...
1,"{'Range_1': [351, 351.9], 'Range_2': [352, 352...",351.1,Given the following range definitions: Range 1...,The number 351.1 falls within Range 1. Here's ...,Range 1,Q: Given the following range definitions: Rang...
2,"{'Range_1': [351, 351.9], 'Range_2': [352, 352...",351.2,Given the following range definitions: Range 1...,The number 351.2 falls within Range 1. Here's ...,Range 1,Q: Given the following range definitions: Rang...
3,"{'Range_1': [351, 351.9], 'Range_2': [352, 352...",351.3,Given the following range definitions: Range 1...,The number 351.3 falls within Range 1. Here's ...,Range 1,Q: Given the following range definitions: Rang...
4,"{'Range_1': [351, 351.9], 'Range_2': [352, 352...",351.4,Given the following range definitions: Range 1...,The number 351.4 falls within Range 1. Here's ...,Range 1,Q: Given the following range definitions: Rang...
...,...,...,...,...,...,...
5995,"{'Range_1': [353, 362], 'Range_2': [363, 372],...",378.0,Given the following range definitions: Range 1...,The number 378 falls within Range 3. Here's ho...,Range 3,Q: Given the following range definitions: Rang...
5996,"{'Range_1': [353, 362], 'Range_2': [363, 372],...",379.0,Given the following range definitions: Range 1...,The number 379 falls within Range 3. Here's ho...,Range 3,Q: Given the following range definitions: Rang...
5997,"{'Range_1': [353, 362], 'Range_2': [363, 372],...",380.0,Given the following range definitions: Range 1...,The number 380 falls within Range 3. Here's ho...,Range 3,Q: Given the following range definitions: Rang...
5998,"{'Range_1': [353, 362], 'Range_2': [363, 372],...",381.0,Given the following range definitions: Range 1...,The number 381 falls within Range 3. Here's ho...,Range 3,Q: Given the following range definitions: Rang...
5999,"{'Range_1': [353, 362], 'Range_2': [363, 372],...",382.0,Given the following range definitions: Range 1...,The number 382 falls within Range 3. Here's ho...,Range 3,Q: Given the following range definitions: Rang...

In [30]:
train, validate, test = \
              np.split(df.sample(frac=1, random_state=42), 
                       [int(.6*len(df)), int(.8*len(df))])

In [32]:
train.to_csv("train.csv")
validate.to_csv("validate.csv")
test.to_csv("test.csv")

In [34]:
a = [1,2,3,4,5,6,7,8,9]
a[:2]

[1, 2]